* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

nav {
    position: relative;
}

.image-container {
    display: flex;
    position: absolute;
    float: left;
    width: 97%;
    height: 60px;
    overflow: hidden;
    margin: 20px;
    column-count: 5;
    column-gap: 18px;

}

.menu {

    float: left;
    width: 22px;
    height: 22px;

}

.menu:hover {
    width: 30px;
    height: 30px;
    border-radius: 300px;
    background-color: rgba(14, 52, 224, 0.164);
    transition: box-shadow 0.1s;
    box-shadow: inset 0 0 8px rgba(14, 52, 224, 0.178);
}

.web {

    float: left;
    width: 400px;
    height: 58px;
    margin-right: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;

}

.web {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #3c4043;
}

.thee-items {
    display: flex;
    column-count: 3;
    column-gap: 21px;

}

.thee-items {
    align-items: center;
    display: flex;
    width: 423px;
    height: 100%;
    padding-bottom: 23px;
    padding-left: 17px;
    position: relative;
    /* _______________________________________________ */
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 680;

    color: rgba(0, 0, 0, 0.5)
}

.tablon {
    width: 49px;
    height: 21px;

}

.trabajo {
    width: 110px;
    height: 21px;
}

.personas {
    width: 58px;
    height: 21px;
}


.apps {
    position: absolute;
    top: 0px;
    right: 41px;
    float: left;
    width: 22px;
    height: 22px;
}


.profile {
    padding: 1px;
    position: absolute;
    top: 0px;
    right: -1px;
    float: right;
    width: 22px;
    height: 22px;
}

.line {
    border-bottom: none;
    border: 1px solid rgba(0, 0, 0, 0.075);
    position: relative;
    top: 60px;

}


/* SECTION__________________ */

.first-section {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.banner {
    display: flex;
    background-image: url(./images/Aprende\ HTML5\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 9px;
    width: 957px;
    height: 224px;
}

.text-learn-html {
    display: flex;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 2.25rem;
    font-weight: 500;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    align-items: flex-end;
    margin-top: 171px;
    margin-left: 25px;
    position: absolute;
}

.smoke {
    position: relative;
    width: 957px;
    height: 224px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
    border-radius: 9px;
}


/* second-section */

.second-section {
    display: flex;
    justify-content: center;
    margin-top: 15px;

}

.container-mid {
    display: flex;
    justify-content: center;
    width: 957px;
    height: 366px;
    column-count: 3;
}

.one-box {
    position: relative;
    right: 12px;
    width: 180px;
    height: 120px;
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 9px;

}

.one-box:hover {
    background-color: #f0f0f0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;

}

.intern-text1 {
    position: relative;
}

.proximas {
    position: absolute;
    top: 20px;
    right: 36px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 0.8125rem;
    line-height: 1.25rem;
}

.yuju {
    position: absolute;
    top: 50px;
    right: 17px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.25rem;
    margin-left: 29px;
}



.container-colums {
    position: relative;
    right: -13px;
    height: 100px;

}

.two-box {
    width: 750px;
    height: 70px;
    border-radius: 9px;
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}


.two-box:hover {
    background-color: #f0f0f0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;

}

.two-box img {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.two-box b {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: rgba(121, 121, 121, 0.664);
    margin-left: 20px;

}

.two-box .point img {
    position: relative;
    left: 460px;
    width: 30px;
    height: 30px;
}




.two-box .point .hovert:hover {

    box-shadow: 0px 0px 8px 8px rgba(14, 52, 224, 0.3);
    background-color: rgba(14, 52, 224, 0.3);
    transition: box-shadow 0.1s;
    border-radius: 20px;
}



.thre-box {
    width: 750px;
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 9px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.thre-box:hover {
    background-color: #f0f0f0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;

}

.thre-box figure {
    position: relative;
    margin-left: 20px;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    background-color: rgba(14, 52, 224, 0.3);
}


.thre-box img {
    display: flex;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    height: 30px;
}

.thre-box b {
    display: flex;
    margin-left: 20px;
    letter-spacing: .01785714em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c404396;
}

.thre-box .coach {
    color: black
}


.thre-box .point-2 img {
    position: relative;
    left: 250px;
    width: 30px;
    height: 30px;
}


.thre-box .point-2 .hovert:hover {

    box-shadow: 0px 0px 8px 8px rgba(14, 52, 224, 0.3);
    background-color: rgba(14, 52, 224, 0.3);
    transition: box-shadow 0.1s;
    border-radius: 20px;
}


.four-box {
    width: 750px;
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 9px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}


.four-box:hover {
    background-color: #f0f0f0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;

}

.four-box figure {
    position: relative;
    margin-left: 20px;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    background-color: rgba(14, 52, 224, 0.3);
}

.four-box img {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    height: 30px;
}


.four-box b {
    display: flex;
    margin-left: 20px;
    letter-spacing: .01785714em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c404396;
}

.four-box .coach-2 {
    color: black
}

.four-box .point-3 img {
    position: relative;
    left: 250px;
    width: 30px;
    height: 30px;
}



.four-box .point-3 .hovert:hover {

    box-shadow: 0px 0px 8px 8px rgba(14, 52, 224, 0.3);
    background-color: rgba(14, 52, 224, 0.3);
    transition: box-shadow 0.1s;
    border-radius: 20px;
}


.five-box {
    width: 750px;
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 9px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.five-box:hover {
    background-color: #f0f0f0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;

}

.five-box figure {
    position: relative;
    margin-left: 20px;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    background-color: rgba(14, 52, 224, 0.3);
}

.five-box img {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    height: 30px;
}


.five-box b {
    display: flex;
    margin-left: 20px;
    letter-spacing: .01785714em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c404396;
}

.five-box .coach-3 {
    color: black
}

.five-box .point-4 img {
    position: relative;
    left: 250px;
    width: 30px;
    height: 30px;
}




.five-box .point-4 .hovert:hover {

    box-shadow: 0px 0px 8px 8px rgba(14, 52, 224, 0.3);
    background-color: rgba(14, 52, 224, 0.3);
    transition: box-shadow 0.1s;
    border-radius: 20px;
}