* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.firs-items {
    width: auto;
    display: flex;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}

.menu {
    width: auto;
    height: 28px;
}

.google {
    position: relative;
    padding: 8px;
    top: 2px;
}

.classroom {
    color: #5f6368;
    font-family: "Product Sans", Arial, Helvetica, sans-serif;
    font-size: 1.38125rem;
}



.second-items {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    right: 19px;
    position: relative;
    top: -93px;
}

.plus {
    width: auto;
    height: 28px;
    margin: 9px;
}

.puntos {
    width: auto;
    height: 28px;
    margin: 15px;
}

.perfil {
    width: auto;
    height: 35px;
    margin-left: 14px;
}

.line {
    border: -1px solid grey;
    bottom: -20px;
    opacity: 46%;
}

.calendar {
    width: auto;
    height: 20px;
    padding-left: 28px;
}

.span-calendario {
    font-family: "Product Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 10px;
}

.task {
    width: auto;
    height: 20px;
}

.span-tareas {
    font-family: "Product Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.section2 {
    display: flex;
    width: auto;
    position: relative;
    top: -61px;
    flex-wrap: wrap;

}



.card-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: flex-start;


}


.card-1 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 5%;
    width: 296px;
    height: 278px;
    flex-wrap: nowrap;
    border-radius: 6px;
    margin-left: 20px;


}


.card-banner-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5f6368;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 294px;
    height: 98px;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column;

}


.card-banner-1 {
    background-image: url(./imagenes/Aprende\ HTML5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}


.smoke {
    width: 294px;
    height: 278px;
    flex-wrap: nowrap;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0.6);

}



.span-Desarrollo {
    position: relative;
    top: -26%;
    right: -3%;
    display: flex;
    margin: 9px;
    font-size: 20px;
    color: white;
    padding-top: 10%;
    text-decoration: none;


}

.span-Desarrollo:hover{
    text-decoration:underline;
    transition: color 0.3s;
}

.span-coachs {
    position: relative;
    top: -26%;
    right: -3%;
    margin: 10px;
    font-size: 13px;
    color: white;

}

.card-container .finally{
    display: flex;
    position: relative;
    top: 120px;
    width: 295px;
    height: 57px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: flex-end;
    align-items: center;

}

.card-container img{
    width: 25px;
    margin: 11px;
    margin-right: 30px;
}